.ExcalidrawPage {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: var(--app-shell-header-height, 48px);
}

.ExcalidrawPage .excalidraw {
	--color-primary: var(--mantine-primary-color-5);
	--color-primary-darker: var(--mantine-primary-color-7);
	--color-primary-darkest: var(--mantine-primary-color-9);
	--color-primary-light: var(--mantine-primary-color-2);
	--color-primary-hover: var(--mantine-primary-color-4);
}

.ExcalidrawPage .excalidraw.theme--dark {
	--color-primary: var(--mantine-primary-color-4);
	--color-primary-darker: var(--mantine-primary-color-5);
	--color-primary-darkest: var(--mantine-primary-color-7);
	--color-primary-light: var(--mantine-primary-color-9);
	--color-primary-hover: var(--mantine-primary-color-3);
}
