@import "tailwindcss";

@plugin "daisyui" {
  themes: corporate --default, sunset --prefersdark;
}

@property --_w {
  syntax: '<length>';
  inherits: true;
  initial-value: 100vw;
}

@property --_h {
  syntax: '<length>';
  inherits: true;
  initial-value: 100vh;
}

:root {
  --w: tan(atan2(var(--_w), 1px));
  /* screen width */
  --h: tan(atan2(var(--_h), 1px));
  /* screen height*/
  /* The result is an integer without unit  */
}

html {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--color-primary);
  color: var(--color-primary-content);
}

.unified-editor {
  min-height: 100vh;
  line-height: 1.1;
  flex-direction: column;
  justify-content: center;
  margin: 5px 5px 5px 5px;
  border: 1px solid var(--neutral-content);
  border-radius: var(--radius-box);
  padding: 5px;
  background: var(--color-base-200);
  color: var(--color-base-content);
}

.textarea {
  width: 100%;
  position: absolute;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 1rem;
  height: 100%;
  text-transform: capitalize;

}

.unified-txt {
  opacity: 0.3;

}

.md {
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 1rem;
}

@media only screen and (min-width: 768px) {
  .unified-md {
    width: 50%;
    height: 100%;
    position: absolute;
    border-left: 1px solid var(--color-primary);
    right: 0;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .unified-txt {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    padding: 1rem;
    opacity: 1;
    font-size: 1.2rem;

  }
}

ul {
  list-style-type: circle;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}