@font-face {
	font-family: WinkySans;
	src: url(/WinkySans-Regular.ttf);
}

@font-face {
	font-family: ZillaSlab;
	src: url(/ZillaSlab-Regular.ttf);
}

.file-input {
	display: none;
}

.tiptap-container {
	min-height: 70vh;
}

.mantine-AppShell-main {
	position: relative;
}

.mantine-AppShell-main:has(.ExcalidrawPage) {
	padding: 0 !important;
	overflow: hidden;
}
