@import "tailwindcss";
@plugin "daisyui" {

  themes: corporate --default, sunset --prefersdark;
}
body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--color-neutral);
}

.unified-editor {
  min-height: 100vh;
  line-height: 1.1;
  flex-direction: column;
  justify-content: center;
  margin: 5px 5px 5px 5px;
  border: 1px solid var(--neutral-content);
  border-radius: 20px;
  padding: 5px;
}
.textarea {
  width: 100%;
  position: absolute;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 1rem;
  opacity: 0;
  height: 100%;
}
Markdown {
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 1rem;
  opacity: 0;
  position: absolute;
  top: 0;
}
.markdown-body::after {
  content: "";
  width: 5px;
  height: 20px;
  background: var(--color-neutral-content);
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
  border-radius: 5px;
}

ul {
  list-style-type: circle;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
