.excalidraw {
  --color-primary: hsl(var(--p));
  --color-primary-darker: hsl(var(--pf));
  --color-primary-darkest: hsl(var(--pf));
  --color-primary-light: hsl(var(--pc));
  --color-surface-lowest: hsl(var(--b1));
  --color-surface-low: hsl(var(--b2));
  --color-surface-mid: hsl(var(--b3));
  --color-surface-high: hsl(var(--b3));
  --color-on-surface: hsl(var(--bc));

  &.theme--dark {
    --color-primary: hsl(var(--p));
    --color-primary-darker: hsl(var(--pf));
    --color-primary-darkest: hsl(var(--pf));
    --color-primary-light: hsl(var(--pc));
    --color-surface-lowest: hsl(var(--b1));
    --color-surface-low: hsl(var(--b2));
    --color-surface-mid: hsl(var(--b3));
    --color-surface-high: hsl(var(--b3));
    --color-on-surface: hsl(var(--bc));
  }
}
