@import "tailwindcss";

@plugin "daisyui" {
  themes:
    emerald --default,
    dark --prefersdark;
}


.ExcD-embed .excalidraw,
.ExcD-embed .theme--dark .excalidraw {
  --color-primary: color-mix(in srgb, var(--color-accent) 70%, black) !important;
  --color-primary-darker: color-mix(in srgb, var(--color-accent) 50%, black) !important;
  --color-primary-darkest: var(--color-accent) !important;
  --color-primary-light: var(--color-info) !important;
  --color-surface-lowest: var(--color-neutral) !important;
  --color-surface-low: var(--color-base-100) !important;
  --color-surface-mid: var(--color-base-200) !important;
  --color-surface-high: var(--color-base-300) !important;
  --color-on-surface: var(--color-base-content) !important;
  --color-surface-primary-container: var(--color-primary) !important;
  --color-on-primary-container: var(--color-base-content) !important;
  --color-primary-hover: color-mix(in srgb, var(--color-primary) 90%, black) !important;
  --color-brand-active: color-mix(in srgb, var(--color-primary) 80%, black) !important;
  --island-bg-color: var(--color-base-200) !important;
  --color-slider-track: var(--color-primary) !important;
  --color-brand-active: var(--color-accent) !important;
  --color-border-outline: var(--color-accent) !important;
  --color-border-outline-variant: var(--color-accent) !important;
}

.editor-container {
  border-radius: var(--radius-box);

}