header {
  display: flex;
  font-size: small;
  font-weight: bolder;
  padding: 0.1rem;
  justify-content: space-between;
  flex-flow: row wrap;
}

.btn:hover {
  color: var(--color-primary);
}

.logo-cont {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  .pc-bar {
    display: none;
  }
}

.help-box {
  min-width: max-content;
  min-height: max-content;
  color: var(--color-base-content);
  z-index: 1000;
}

.export-cont {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
}

.dropdown-content {
  top: -2rem;
}

.ctrl-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.radio {
  opacity: 0;
  z-index: -5000;
  position: absolute;
}

.dropdown-content {
  background-color: var(--color-base-200);
  color: var(--color-base-content);
}

.fullscreen {
  display: flex;
  align-items: center;
}
