@media only screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .pc-bar {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-neutral);
    color: var(--color-neutral-content);
    border-radius: var(--radius-field);
    margin: 10px 5px 10px 5px;
    gap: 10px;
  }

  .join-item {
    border-radius: var(--radius-field);
  }

  .btn-neutral {
    border: var(--color-neutral-content) 0.1px solid;
    border-radius: var(--radius-selector);
  }
}
